<h1>Доступные таблицы</h1>

<div class="container-fluid">
      <ul class = "tables_list">
          <li class = "nav-header">
            <br>
            <%= select_tag :name, options_for_select(@schema.get_tables, @name), style: "width:300px", include_blank: true%>
          </li>
      </ul>
</div>